* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #607E72;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2__item {
    width: 90%;
    height: 90%;
    background-color: #F2F0ED;
    border-radius: 30px;
    box-shadow: 0 0 10px 4px #f2f0ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2__item__time1 {
    width: 98%;
    height: 25%;
    font-size: 47px;
    color: #807E7A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.box2__item__time1 div {
    width: 270px;
    height: 100px;
    background-color: #DEDDDD;
    border-radius: 30px;
    color: #807E7A;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.box2__item__time2 {
    width: 98%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2__item__time2__div1 {
    width: 50%;
    height: 100%;
    font-size: 40px;
    color: #807E7A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.box2__item__time2__div3 {
    width: 40%;
    height: 100%;
    font-size: 40px;
    color: #807E7A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

textarea {
    width: 615px;
    height: 300px;
    padding: 20px;
    background-color: #DEDDDD;
    border-radius: 30px;
    font-size: 30px;
    color: #807E7A;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.box2__item__time2__div2 {
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.box2__item__time2__div2 button {
    width: 280px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 30px;
    font-size: 30px;
    border: none;
    color: #9A968F;
    display: flex;
    align-items: center;
    justify-content: center;
}