{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="../static/css/style44.css">
    <title>Question</title>
{% endblock %}
{% block body %}
    <div class="box2">
        <form class="box2__item" action="">
            <div class="box2__item__time1">
                <div class="box2__item__time1__div">
                    <p>1 User name </p>
                </div>
            </div>
            <div class="box2__item__time2">
                <div class="box2__item__time2__div1">
                    <p>Question</p>
                    <textarea name="" id="">Question</textarea>
                </div>
                <div class="box2__item__time2__div3">
                    <p>Answer</p>
                    <textarea name="" id="">Answer</textarea>
                </div>
            </div>
        </form>
    </div>
{% endblock %}